html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.52em;
    font-size: 15px;
    background-color: #ffa188;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    margin: 0;
}


main {
    margin: 0;
}

header {
    margin-left: 16em;
}


header h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    color: #000000;
}

header span {
    font-size: 17px;
    color: white;
}

h2 {
    font-size: 30px;


}

h3 {
    font-size: 17px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    margin-top: 0;
    padding: 1em 1em;
}

nav a {
    font-size: 15px;
    padding: .5em 1em;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
}

.dropbtnav {
    font-size: 15px;
    padding: .5em 1em;
    line-height: 1.52em;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
}


nav a:hover,
.dropbtnav:hover {
    color: #ff7e64;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e0583d;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #000000;
}




#socialmedia {
    display: flex;
    font-size: 30px;
    background: black;
    width: 3em;
    float: right;
    margin-right: 150px;
    margin-top: 0;
}

.fa-github {
    background: black;
}

#socialmedia a {
    padding: .5em 1em;
    text-decoration: none;
    color: white;
}



section {
    width: 50em;
    margin: 10em auto;
    padding: 1.5em;
    min-height: 20em;
    background-color: #fee5dc;
    border-radius: 25px;
    border-style: solid;
}



section>p {
    margin: 1em 0;
}


#aboutme h2 {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 30px;
}

#selfimage {
    display: flex;
    align-items: center;
    grid-template-columns: center;
    justify-content: center;
}


#aboutme p {
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 0;
}

#aboutme img {
    border: 3px solid black;
width: 20em;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-right:20px;
    
    
}


#project2 {
    width: 50em;
    margin: 10em auto;
    padding: 1.5em;
    min-height: 20em;
    background-color: #fee5dc;
    border-radius: 25px;
    border-style: solid;
}

#project2 h2 {
    display: flex;
    justify-content: center;

}

#project2 p {
margin-top: 30px;
}

#project2 img {
    width: 50em;
    margin-top: 40px;
}

#skills {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto;
    gap: 1em;
    padding: 3em 3em;
    text-align: center;
    margin: auto;
}

#skills article {
    padding: 1em;
}

#myskills h2,
#myprojects h2 {
    text-align: center;
}

#skills img {
    width: 9em;
    padding: 0;
}

.dropbtn {
    border-radius: 10%;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 2em;
}


.dropdowna {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbc5ba;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#navdrop-content {
    display: none;
}

.dropdowna:hover .dropdown-content {
    display: block;
}

.dropdowna:hover .dropbtn {
    background-color: #ff7e64;
}

#graphicdesign h2,
#webdesign h2 {
    text-align: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    text-align: center;
}

#projects article {
    padding: 1em;
}

#projects img {
    width: 14em;
    height: auto;
    padding: 1em, 1em;
}

#projects a {
    text-align: center;
    color: #000000;
}

#projects p {
    text-align: left;
}



/* Style the button that is used to open and close the collapsible content */
.collapse {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 40%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    border-radius: 10%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapse:hover {
    background-color: #ff7e64;


}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 0px;
    display: none;
    overflow: hidden;
    background-color: fee5dc;


}


/*The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.githubtn {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 40%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 16px;
    border-radius: 10%;
    margin-top: 30px;

}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close2:hover,
.close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}



#letsconnect {
    text-align: center;
    padding-top: 10em;
}

#letsconnect a {
    color: black;
}

footer {
    margin-top: 0em;
    background-color: black;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}